<!--
    This launch file is a wrapper that just selects one of the available marker placement configs from folder
    config/marker_configs and includes onlysim.launch, which is the main launch file for the simulation. Refer to
    onlysim.launch for all parameters of the launched simulation.
-->
<launch>
    <arg name="world" default="aro_maze_8"/>
    <arg name="marker_config" default="1" doc="1-4, gives positions of the markers in the loaded world." />
    <arg name="ma_id" default="7" />
    <arg name="mr_id" default="4" />

    <include file="$(dirname)/../config/marker_poses/$(arg world)/$(arg marker_config).launch" pass_all_args="true">
        <arg name="include" value="$(find aro_sim)/launch/onlysim.launch" />
    </include>
</launch>
