<launch>
    <!--
        IMPORTANT: This file is not supposed to be changed by students.
    -->
    <arg name="gui" default="false"/>
    <arg name="rviz" default="true"/>
    <arg name="model" default="burger_rgbd" doc="{burger_rgbd, waffle, waffle_pi}"/>

    <arg name="world" default="aro_maze_8" doc="{aro_maze_1, aro_maze_2, aro_maze_8}"/>

    <arg name="robot_radius" default="$(eval 0.3)"/>
    <arg name="robot_frame" default="base_footprint"/>
    <arg name="control" default="exploration" doc="{exploration, teleop_joy}"/>

    <env name="ROSCONSOLE_FORMAT" value="[${severity} ${walltime} ${node}] ${message}"/>
    <env name="ROSCONSOLE_STDOUT_LINE_BUFFERED" value="1"/>

    <include file="$(dirname)/sim_with_markers.launch" pass_all_args="true">
        <arg name="ground_truth" value="true" />
        <arg name="rviz" value="false" />
    </include>
    
    <include if="$(eval control == 'exploration')"
             file="$(find aro_exploration)/launch/exploration.launch">
        <arg name="robot_radius" value="$(arg robot_radius)"/>
        <arg name="robot_frame" value="$(arg robot_frame)"/>
    </include>

    <group if="$(eval control == 'teleop_joy')">
         <include file="$(find aro_sim)/launch/teleop_joy.launch"/>
         <include file="$(find aro_sim)/launch/teleop_keyboard.launch"/>
         <include file="$(find aro_slam)/launch/icp_slam.launch"/>
    </group>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find aro_sim)/config/turtlebot3.rviz"/>

</launch>
